<nav class="navbar navbar-full navbar-dark bg-inverse bg-faded">
    <div class="container">
        <span class="navbar-brand">Marmoset <small>student.cs.uwaterloo.ca</small></span>
        <a class="btn btn-outline-primary pull-xs-right" href="https://marmoset.student.cs.uwaterloo.ca/authenticate/Logout">Logout</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            <div class="card m-y-2">
                <div class="card-block">
                    <h4 class="card-title m-b-0">Projects</h4>
                </div>
                <table class="table table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th>Question ID</th>
                            <th>Last Result</th>
                            <th>Best Result</th>
                            <th>Due</th>
                        </tr>
                    </thead>
                    <tbody id="projects">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>